:host {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border: 1px #777 solid;
  border-radius: 20px;

  .image {
    width: 150px;
    height: 200px;
    object-fit: cover;
    object-position: 20% 50%;
    border-radius: 10px;
  }
}
