/* You can add global styles to this file, and also import other style files */

body {
  background-color: #333;
  font-family: Arial;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
span,
li,
ul {
  margin-top: 0;
  color: #eee;
}

.full-width {
  width: 100%;
}
